<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

</head>

<body class="bg-dark">

    <div class="container">
        <h1 class="font-weight-light text-light pt-5 text-center">Welcome to your Kanban Board!</h1>
        <div class="row flex-row flex-sm-nowrap justify-content-center py-5">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-center text-truncate py-2">To Do</h6>
                        {% for todo in todos %}
                        <div class="items mb-3">
                            <div class="card draggable shadow-sm" id="{{ todo.id }}" draggable="true">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <form action="{{ url_for('del_task') }}" method="POST">
                                            <input type="hidden" name="task_id" value="{{ todo.id }}" />
                                            <input type="submit"
                                                class="close float-right text-danger bg-transparent border-0"
                                                value="&times;" />
                                        </form>
                                        <a href="/" class="lead font-weight-light">{{
                                            todo.title }}</a>
                                    </div>
                                    <p>{{ todo.content }}</p>
                                    <form action=" {{ url_for('move_task') }}" method="POST">
                                        <input type="hidden" name="task_id" value="{{ todo.id }}" />
                                        <span class="text-muted">Move to:</span>
                                        <select name="panel" onchange="this.form.submit()"
                                            class="custom-select-sm text-muted bg-transparent border-0">
                                            <option disabled selected></option>
                                            <option value="doing">DOING</option>
                                            <option value="done">DONE</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-center text-truncate py-2">Doing</h6>
                        {% for doing in doings %}
                        <div class="items mb-3">
                            <div class="card draggable shadow-sm" id="{{ doing.id }}" draggable="true">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <form action="{{ url_for('del_task') }}" method="POST">
                                            <input type="hidden" name="task_id" value="{{ doing.id }}" />
                                            <input type="submit"
                                                class="close float-right text-danger bg-transparent border-0"
                                                value="&times;" />
                                            <a href="/" class="lead font-weight-light">{{ doing.title }}</a>
                                        </form>
                                    </div>
                                    <p>{{ doing.content }}</p>
                                    <form action="{{ url_for('move_task') }}" method="POST">
                                        <input type="hidden" name="task_id" value="{{ doing.id }}" />
                                        <span class="text-muted">Move to:</span>
                                        <select name="panel" onchange="this.form.submit()"
                                            class="custom-select-sm text-muted bg-transparent border-0">
                                            <option disabled selected></option>
                                            <option value="todo">TO DO</option>
                                            <option value="done">DONE</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-center text-truncate py-2">Done</h6>
                        {% for done in dones %}
                        <div class="items mb-3">
                            <div class="card draggable shadow-sm" id="{{ done.id }}">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <form action="{{ url_for('del_task') }}" method="POST">
                                            <input type="hidden" name="task_id" value="{{ done.id }}" />
                                            <input type="submit"
                                                class="close float-right text-danger bg-transparent border-0"
                                                value="&times;" />
                                            <a href="/" class="lead font-weight-light">{{ done.title
                                                }}</a>
                                        </form>
                                    </div>
                                    <p>{{ done.content }}</p>
                                    <form action="{{ url_for('move_task') }}" method="POST">
                                        <input type="hidden" name="task_id" value="{{ done.id }}" />
                                        <span class="text-muted">Move to:</span>
                                        <select name="panel" onchange="this.form.submit()"
                                            class="custom-select-sm text-muted bg-transparent border-0 box-shadow-none">
                                            <option disabled selected></option>
                                            <option value="todo">TO DO</option>
                                            <option value="doing">DOING</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="makeTask" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <form id="taskForm" class="form content" method="POST" action="{{ url_for('new_task') }}"
                            values="todo">
                            <div class="modal-header">
                                <input type="text" class="modal-title border-0 form-control-lg shadow-none" name="title"
                                    placeholder="Task Title" />
                                <input type="button" class="close float-right bg-transparent border-0"
                                    data-dismiss="modal" value="&times;" />
                            </div>
                            <div class="modal-body justify-content-between">
                                <textarea rows="5" class="form-control shadow-none border-dark" name="content"
                                    placeholder="Task Description" maxlength="250"></textarea>
                                <select name="panel" form="taskForm" class="pl-1 mt-3">
                                    <option value="todo">TO DO</option>
                                    <option value="doing">DOING</option>
                                    <option value="done">DONE</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary float-right align-bottom"
                                    value="Create Task" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-row justify-content-center">
            <div style="width:40%" class="align-content-center mt-2">
                <form data-toggle="modal" data-target="#makeTask" method="dialog">
                    <input type="submit" style="width:100%" class="btn btn-primary btn-sm" value="New Task" />
                </form>
            </div>

        </div>

    </div>
    </div>

</body>

</html>