<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
</head>

<body class="bg-dark">

    <div class="container">
        <h1 class="font-weight-light text-light pt-5 text-center">Welcome to your Kanban Board!</h1>
        <div style="justify-content:space-around" class="row flex-row flex-sm-nowrap py-5">
            <div style="width:30%" class="col-sm-6 col-md-4 col-xl-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-center text-truncate py-2">To Do</h6>
                        <div class="items border border-light">
                            <div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <a href="" class="lead font-weight-light">TSK-154</a>
                                    </div>
                                    <p>
                                        This is a description of a item on the board.
                                    </p>
                                    <button class="btn btn-primary btn-sm">View</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div style="width:30%" class="col-sm-6 col-md-4 col-xl-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-center text-truncate py-2">In Progress</h6>
                        <div class="items border border-light">
                            <div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <button class="btn btn-outline-danger float-right">Delete</button>
                                        <a href="" class="lead font-weight-light">TSK-154</a>
                                    </div>
                                    <p>
                                        This is a description of a item on the board.
                                    </p>
                                    <button class="btn btn-primary btn-sm">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div style="width:30%" class="col-sm-6 col-md-4 col-xl-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-center text-truncate py-2">Done</h6>
                        <div class="items border border-light">
                            <div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <a href="" class="lead font-weight-light">TSK-154</a>
                                    </div>
                                    <p>
                                        This is a description of a item on the board.
                                    </p>
                                    <button class="btn btn-primary btn-sm">View</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>